/*----------------
	Misc 
------------------*/
@font-face {
    font-family: 'Gugeshashvili';
    src: url('../fonts/gugeshashvili/gugeshashvili-rachveli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gugeshashvili/gugeshashvili-rachveli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/gugeshashvili/gugeshashvili-rachveli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/gugeshashvili/gugeshashvili-rachveli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/gugeshashvili/gugeshashvili-rachveli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/gugeshashvili/gugeshashvili-rachveli-webfont.svg#gugeshashvili_rachveliregular') format('svg'); /* Legacy iOS */
}


html, body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.col-no-padding{
	padding: 0;
}

a{
	transition: color .2s ease;
}

.pagination li a {
    background: none;
    border: none;
    color: #838587;
    padding: 6px;
    transition: none;
}

.pagination li a:hover,
.pagination li a:focus,
.pagination li a:active{
	background: none;
	color: #c5c5c5;
}

/*----------------
	Landing Page 
------------------*/
#landing-page-container{
	background-image: url('../img/landing_bg.jpg');
	background-repeat: no-repeat;
	background-position: 41% center;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	min-height: 100%;
}

.logo{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#landing-page-container .logo{
	width: 100%;
	height: 150px;
	margin: 30px 0 10px;
}

#landing-page-container p{
	margin: 20px 0 30px;
	color: #c7c7c7;
}

#landing-date-form{
	text-align: center;
	margin-bottom: 25px;
}

#landing-date-form input{
	margin: 0;
	padding: 7px 14px;
	display: inline-block;
	border: none;
	background: none;
	color: white;
	border-bottom: 1px solid rgba(255,255,255,0.65);
	width: 60px;
	margin-right: 20px;
	text-align: center;
	outline: none;
	transition: border-color .3s ease;
}

#landing-date-form input:nth-child(3){
	margin-right: 0;
}

#landing-date-form input:focus{
	border-color: rgba(255,255,255,0.9);
}

#landing-date-form input::-webkit-input-placeholder{color: white}
#landing-date-form input::-moz-placeholder{color: white}
#landing-date-form input:-ms-input-placeholder{color: white}
#landing-date-form input:-moz-placeholder{color: white}

#landing-date-form input::-webkit-inner-spin-button,
#landing-date-form input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

.landing-date-form-submit{
	height: 25px;
	margin: 50px 0 20px;
	overflow: hidden;
}

.dotted-line{
	width: 80%;
    height: 15px;
    border-bottom: 1px dotted rgb(255,255,255);
    float: left;
}

.landing-date-form-submit button{
	width: 20%;
	height: 25px;
	border: none;
	background: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	float: left;
	padding: 0;
	margin: 0;
}

#landing-page-container section{
	max-width: 400px;
	margin: 0 auto;
}



/*-------------
	Register
--------------*/

#register-form-header .logo{
	height: 120px;
}

#register-form{
	position: relative;
	margin: 80px auto !important;
	border: 1px solid rgba(255,255,255,0.7);
	border-top: none;
	border-bottom: none;
	display: block;
	background: rgba(0,0,0,0.7);
}

.register-form-border-top{
	position: absolute;
	width: auto;
	height: 20px;
	border: 1px solid rgba(255,255,255,0.7);
	border-bottom: 0;
	top: -30px;
	left: -1px;
	right: -1px;
	background: rgba(0,0,0,0.7);
}

.register-form-border-top::after{
	content: "";
	position: absolute;
	bottom: -10px;
	height: 10px;
	left: -2px;
	right: -2px;
	background: rgba(0,0,0,0.7);
}

.register-form-border-bottom{
	position: absolute;
	width: auto;
	height: 20px;
	border: 1px solid rgba(255,255,255,0.7);
	border-top: 0;
	bottom: -30px;
	left: -1px;
	right: -1px;
	background: rgba(0,0,0,0.7);
}

.register-form-border-bottom::after{
	content: "";
	position: absolute;
	top: -10px;
	height: 10px;
	left: -2px;
	right: -2px;
	background: rgba(0,0,0,0.7);
}

.register-form-border-back{
	position: absolute;
	left: -20px;
	right: -20px;
	top: -6px;
	bottom: -6px;
	border: 1px solid rgba(255,255,255,0.7);
	border-top: 0;
	border-bottom: 0;
}

.register-form-border-back-left,
.register-form-border-back-right{
	float: left;
    width: 22px;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.7);
    border-left: 0;
    border-right: 0;
}
.register-form-border-back-right{
	float: right;
}

.border-cut-out{
	position: absolute;
	width: 5px;
    height: 10px;
    border: 1px solid rgba(255,255,255,0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border-cut-out.bco-left{
	border-left: 0;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	left: -1px;
}

.border-cut-out.bco-right{
	border-right: 0;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	right: -1px;
}

.border-cut-out.bco-top{
	top: -10px;
}

.border-cut-out.bco-bottom{
	bottom: -10px;
}



#register-form form{
	position: relative;
	z-index: 1;
}

#register-form form input,
#register-form form textarea{
	border: none;
	background: none;
	width: 75%;
	margin: 0 auto 20px;
	padding: 7px 10px;
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	outline: none;
}

#register-form form input:focus,
#register-form form textarea:focus,{
	border-color: rgba(255,255,255,0.9);
}


#register-form form input::-webkit-input-placeholder{color: rgba(255,255,255,0.7)}
#register-form form input::-moz-placeholder{color: rgba(255,255,255,0.7)}
#register-form form input:-ms-input-placeholder{color: rgba(255,255,255,0.7)}
#register-form form input:-moz-placeholder{color: rgba(255,255,255,0.7)}

#register-form form textarea::-webkit-input-placeholder{color: rgba(255,255,255,0.7)}
#register-form form textarea::-moz-placeholder{color: rgba(255,255,255,0.7)}
#register-form form textarea:-ms-input-placeholder{color: rgba(255,255,255,0.7)}
#register-form form textarea:-moz-placeholder{color: rgba(255,255,255,0.7)}


.profile-photo-input{
	color: rgba(255,255,255,0.7);
	font-weight: normal;
	padding-left: 34px;
	background-image: url('../img/camera_icon.png');
	background-repeat: no-repeat;
	background-size: 29px auto;
	background-position: 0px -2px;
	display: block;
	width: 75%;
	margin: -7px auto 20px;
	line-height: 2.2;
}

#register-form #register-birth-date-input{
	padding-right: 30px;
	background-image: url('../img/date_icon.png');
	background-position: 100% 0px;
	background-size: 29px auto;
	background-repeat: no-repeat;
}


.profile-photo-input:hover,
.profile-photo-input:active{
	color: white;
}

.register-terms {
    padding: 0 15%;
    font-size: 12px;
    text-align: center;
    line-height: 1.7;
    position: relative;
    z-index: 1;
    color: rgba(255,255,255,0.7);
}

.register-terms a{
	color: #f82248;
	cursor: pointer;

}
.register-terms a:hover{
	color: #ff6c79;
}

#register-form-footer{
	text-align: center;
	padding: 0 0 40px;
	color: rgba(255,255,255,0.7);
}

#register-form-footer a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#register-form-footer a:hover{
	color: white;
	text-decoration: underline;
}

button.register-btn {
    display: block;
    width: auto;
    border: none;
    margin: -20px auto 15px auto;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    background: none;
    outline: none;
}

button.register-btn:hover,
button.register-btn:active{
	color: rgba(255,255,255,0.7)
}

/*--------------------
	Navigation
--------------------*/ 
#main-header{
	display: block;
	width: 100%;
	height: auto;
	/*padding: 35px 0;*/
	text-align: center;
	background-color: #000;
	color: #fff;
}

#main-content-wrapper{
	display: block;
	min-height: 340px;
}

#main-footer{
	display: block;
	width: 100%;
	height: auto;
	padding: 75px 20px 40px; 
	background-color: #000;
	color: #fff;
}

.language-bar{
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
}

.language-bar > li{
	display: inline-block;
	padding: 0 20px 0 0;
	text-transform: uppercase;
}

.language-bar > li > a{
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}

.language-bar > li > a.active-lang{
	color: #fff;
}

.language-bar > li > a:hover,
.language-bar > li > a:active{
	color: rgba(255,255,255,0.6);
}

.language-bar > li > a.georgian-text{
	font-family: gugeshashvili;
	font-size: 18px;
	line-height: 1.1;
}

.footer-nav{
	display: table;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.footer-nav > li{
	padding: 0 0 15px 0;
	text-transform: uppercase;
}
.footer-nav > li:last-child{
	padding: 0;
}

.footer-nav > li > a{
	color: white;
	text-decoration: none;
}
.footer-nav > li > a:hover{
	color: rgba(255,255,255,0.7);
}

.footer-logo {
    max-width: 100%;
    margin: 0 0 30px 0;
}

.footer-text{
	font-size: 12px;
	padding-right: 4px;
	margin: 0 0 3px 0;
}

.privacy-policy-link{
	color: #fff;
	text-decoration: none;
}

.privacy-policy-link:hover{
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}

.footer-card-icon{
	margin: 0 0 40px 0;
}

.footer-social-links {
    list-style: none;
    margin: 40px 0 40px 0;
    padding: 0;
}

.footer-social-links li {
    display: inline-block;
    padding: 0 8px;
    transition: opacity .2s ease;
}

.footer-social-links li:hover{
	opacity: 0.7;
}

.footer-subscribe-form{
	max-width: 90%;
	width: 300px;
	position: relative;
	margin: 8px auto 0 auto;
}

.footer-subscribe-btn{
	border: none;
	background: none;
	background: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 60%;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 48px;
    bottom: 1px;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s ease;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:active{
	opacity: 1;
}

.footer-subscribe-label{
	font-weight: normal;
	text-align: left;
	display: block;
	max-width: 90%;
	width: 300px;
	margin: 0 auto;
	padding: 0 0 0 10px;
}

.footer-subscribe-input{
	border: 1px solid rgba(255,255,255,0.7);
	background: transparent;
	outline: none;
	padding: 8px 20px;
	width: 100%;
	margin: 0;
	transition: border-color .2s ease;
}

.footer-subscribe-input::-webkit-input-placeholder{color:#fff}
.footer-subscribe-input::-moz-placeholder{color:#fff}
.footer-subscribe-input:-ms-input-placeholder{color:#fff}
.footer-subscribe-input:-moz-placeholder{color:#fff}

.footer-subscribe-input:focus{
	border-color: white;
}

.footer-copyright{
	margin: 50px 0 0 0;
}


/* header */
.header-logo{
	background-image: url('../img/header_logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 85%;
	width: 50px;
	height: 50px;
	margin-left: 15px;
}

#main-header .navbar-inverse{
	background: #000;
}
#main-header .navbar-nav li a{
	color: #fff;
}
#main-header .navbar-nav li.active a{
	color: rgba(255,255,255,0.7);
	background-color: #080808;		
}

.cart-icon > div.visible-xs-inline-block{
	padding-left: 5px;
}

#main-header .dropdown-menu .divider{
	background-color: rgba(255,255,255,0.5);
}

#main-header .dropdown-menu li{
	text-align: center;
}

.nav-user-avatar{
	width: 35px;
	height: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin: 19px 20px 0 10px;
	float: right;
}

.nav-user-name,
.nav-user-surname{
	display: inline-block;
}
.nav-user-surname{
	padding-left: 2px;
}
.cart-item-count{
	position: absolute;
	background: red;
	width: 18px;
	height: 18px;
	left: -22px;
	display: block;
	line-height: 1.2;
	border-radius: 50%;
	font-size: 11px;
	top: -2px;
}

#main-carousel{
	margin-top: -20px;
	background: #000;
}
.carousel-image{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 350px;
}
.carousel-image::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.carousel-image > .carousel-caption{
	width: 480px;
	max-width: 85%;
	padding-bottom: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0;
	height: auto;
	display: block;
	font-size: 20px;
	line-height: 1.5;
	text-transform: uppercase;
}
.carousel-indicators li{
	margin: 3px;
}
.carousel-indicators .active{
	margin: 2px;
}

.home-page-drink-block{
	display: block;
    height: 300px;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .2s ease;
}
.home-page-drink-block:hover{
	opacity: 0.85;
	color: white;
	text-decoration: none;
}
.home-page-drink-block::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	z-index: 1;
}
.home-page-drink-block-caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 40px;
	border: 2px solid rgba(255,255,255,0.7);
	z-index: 2;
	font-size: 20px;
	text-transform: uppercase;
	display: block;
}




/*--------------------
	Products
---------------------*/

.light-container{
	background-color: #fbfbfb;
}

#price-range-filter{
	width: 400px;
	max-width: 90%;
	height: 2px;
	position: relative;
	background: #abadae;
	margin: 50px 0;
}

#price-range-filter-min,
#price-range-filter-max{
	width: 16px;
	height: 16px;
	background: white;
	display: block;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: -6px;
	border: 2px solid #f85874;
	border-radius: 50%;
	z-index: 1;
	/*transition: left .15s ease;*/
}

#price-range-filter-max{
	left: 100%;
}

#price-range-filter-min span,
#price-range-filter-max span{
	margin-top: -25px;
	display: block;
	width: 50px;
	margin-left: -20px;
	text-align: center;
}


#price-range-filter-line{
	height: 100%;
	left: 0;
	right: 0;
	background-color: #abadae;
	position: relative;
}

#price-range-filter-line > span{
 	background-color: #f85874;
 	width: 100%;
 	height: 2px;
 	position: absolute;
 	left: 16px;
}

.price-range-label{
	padding: 40px 0;
	display: block;
}

.product-filter-select{
	background: none;
	border: none;
	border-bottom: 1px solid #abadae;
	padding: 5px;
	padding-left: 10px;
	margin: 30px 5px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.product-filter-label{
	display: inline-block;
	padding-right: 15px;
}


.product-list-block{
	padding: 30px 40px;
	background-color: white;
	box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.05);
	margin: 0 0 20px;
	position: relative;
}
.product-list-block-image{
	width: 100%;
	height: 180px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.product-list-block-title{
	margin: 10px 0 0;
	max-height: 20px;
	overflow: hidden;
	color: black;
}
.product-list-block-litre::before{
	content: "";
	display: inline-block;
	background-image: url('../img/litre.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 10px;
	height: 10px;
	margin: 0 3px 0 0;
}
.product-list-block-price{
	margin: 10px 0 0;
	font-size: 20px;
	display: block;
}

.product-list-block-cart-button{
	width: 100%;
	border: 1px solid #bfbfbf;
	background-color: white;
	padding: 7px;
	text-align: center;
	margin: 15px 0 0;
}
.product-list-block-cart-button:hover,
.product-list-block-cart-button:focus,
.product-list-block-cart-button:active{
	background-color: #f82248;
	border-color: white;
	color: white;
}

.product-list-block-mixology{
	position: absolute;
	top: 15px;
	right: 15px;
	text-align: right;
	font-size: 12px;
	line-height: 1.5;
}
.product-list-block-mixology span{
	display: inline-block;
}
.product-list-block-mixology-label{
	padding-top: 3px;
	float: left;
}
.product-list-block-mixology .mixology-icon{
	margin: 0 0 0 10px;
}

/*-------------------
	Product inner 
---------------------*/

#product-description-block{
    background: white;
    padding: 30px 30px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    position: relative;
    margin: 30px 0 30px;
}

.product-inner-block-mixology {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f82248;
    color: white;
    padding: 10px 25px;
    border-radius: 0 20px 20px 0;
    background-repeat: no-repeat;
    background-position: -7px center !important;
}

.product-description-block-image {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 20px 0 0px;
}

.product-description-block-litre::before{
	content: "";
	display: inline-block;
	background-image: url('../img/litre.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 10px;
	height: 10px;
	margin: 0 3px 0 0;
}

.product-description-block-price {
    margin: 10px 0 20px;
}

.product-description-block-text {
    max-height: 200px;
    overflow: auto;
    margin: 20px 0;
    line-height: 1.6;
    font-size: 13px;
}

.product-description-block-litre-select {
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 0 20px;
}

.product-description-block-subtotal {
    margin: 40px 0 20px;
    font-size: 20px;
}

.product-description-block-quantity {
    font-size: 20px;
    text-align: center;
}

.product-description-block-quantity-row {
    padding-top: 10px;
    padding-bottom: 20px;
}

.product-description-block-quantity-row button{
	width: 100%;
	border: none;
	font-size: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	background:none;
}

.product-description-block-cart-btn {
    width: 100%;
    background-color: #f82248;
    border: 1px solid white;
    color: white;
    padding: 7px;
}

.product-description-block-cart-btn:hover,
.product-description-block-cart-btn:focus,
.product-description-block-cart-btn:active{
	opacity: 0.85;
}


.similar-item-block {
    padding: 10px;
    background: white;
    margin: 0 0 20px 0;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    color: black;
}

.similar-item-block-image {
    width: 100%;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.similar-item-block-title {
    padding: 0 10px;
    font-size: 15px;
    overflow: hidden;
    max-height: 32px;
    height: 32px;    
}

.similar-item-block-price {
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
}

/*-------------------
	Mixology icons 
---------------------*/
.mixology-icon{
	width: 40px;
	height: 40px;
	background-color: #f82248;
	border-radius: 50%;
	background-repeat: no-repeat;
}

.mixology-carrot{
	background-image: url('../img/carrot.png');
	background-size: auto 70%;
	background-position: center center;
}





/*-------------------
	About us 
---------------------*/
.about-page-container{
	background-image: url(../img/about_us.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center top;
    background-size: cover;
}

p.about-us-text{
	padding: 20px 30px 50px;
	font-size: 17px;
	line-height: 1.5;
	color: white;
	font-weight: normal;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin: 0 -1px;	
}

.about-page-container #register-form{
	border: none;
}

.about-page-container .register-form-border-top::after,
.about-page-container .register-form-border-bottom::after{
	left: 0;
	right: 0;
}


/*-------------------
	Cart 
---------------------*/
.checkout-btn{
	display: table;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	padding: 4px 26px;
	font-size: 15px;
	margin: 20px auto 60px;
}

.checkout-btn:hover,
.checkout-btn:focus,
.checkout-btn:active{
	color: rgba(0,0,0,0.55);
	border-color: rgba(0,0,0,0.55);
}

.continue-shopping-link{
	display: table;
	color: #a3a5a6;
	font-size: 14px;
	margin: 30px auto;
}

.continue-shopping-link:hover,
.continue-shopping-link:focus,
.continue-shopping-link:active{
	text-decoration: none;
	color: rgba(163, 165, 166, 0.7);
}

.cart-product-image{
	width: 100%;
	height: 120px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
}

.cart-table-row{
	margin: 0 0 15px;
	background-color: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

.cart-table-mobile-label{
	font-size: 12px;
	font-weight: bold;
	padding-right: 5px;
}

.cart-table-quantity-row{
	padding-bottom: 10px;
	padding-top: 10px;
}

.cart-table-quantity-row button{
	border: none;
	margin: 0;
	padding: 2px 5px;
	border-radius: 2px;
	width: 100%;
	font-size: 11px;
}

.cart-table-quantity-row button:hover,
.cart-table-quantity-row button:focus,
.cart-table-quantity-row button:active{
	opacity: 0.7;
}

.cart-table-quantity-row .cart-table-mobile-label,
.cart-table-quantity{
	line-height: 1.5
}

.cart-table-quantity{
	padding: 0;
	text-align: center;
}
.cart-table-title{
	margin: 0;
}
.cart-table-litre::before{
	content: "";
	display: inline-block;
	background-image: url('../img/litre.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 10px;
	height: 10px;
	margin: 0 3px 0 0;
}

.cart-table-remove-product-btn{
	position: absolute;
	top: -5px;
	right: 10px;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 0.6;
}

.cart-table-remove-product-btn:hover,
.cart-table-remove-product-btn:focus,
.cart-table-remove-product-btn:active{
	color: rgba(0,0,0,0.55);
}

.cart-table-remove-product-btn.hidden-xs{
	position: initial;
	font-size: 13px;
	border-left: 1px solid gray;
	padding: 5px 15px;
	color: gray;
}
.cart-table-head-row {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

/*-------------------
	Profile 
---------------------*/
#profile-container{
	max-width: 1400px;
}

#profile-info-block,
#profile-messages-block,
#profile-orders-block{
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    padding: 30px 25px;
    margin: 20px 0 40px;
    position: relative;
}

#profile-info-block {
    margin-top: 50px;
}

.profile-info-block-avatar{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: -30px 0 0 -50px;
	display: block;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#profile-info-form {
    margin: 60px 0 40px;
}

.profile-info-form-text-label{
	font-size: 12px;
	padding-top: 5px;
	margin: 0 0 10px;
}

.profile-info-form-text {
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
}
.profile-info-block-edit-button {
    border: none;
    background: none;
    float: right;
    margin: 10px 0 0;
    background-image: url('../img/edit.png');
    background-repeat: no-repeat;
    background-position: 100% -2px;
    background-size: auto 100%;
    font-size: 16px;
    padding: 7px 35px 5px 0;
}


.profile-info-block-payment-title {
    font-size: 17px;
    font-weight: normal;
    padding-left: 80px;
    background-image: url('../img/mastercard_2.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    padding: 10px 0 10px 70px;
    margin: 0 0 10px;
}

#profile-messages-block{
	padding: 0 15px;
}
.profile-messages-block-remove {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 28px;
    line-height: 0.6;
    padding: 0;
    margin: 0;
}

.profile-messages-block-row{
	border-bottom: 1px solid #d6d7d7;
	padding-top: 10px;
	padding-bottom: 10px;
}
.profile-messages-block-row-unread{
	background-color: #f1f2f3;
}
.profile-messages-block-row:last-child{
	border-bottom: none;
}


.profile-messages-block-title,
.profile-messages-block-text {
    padding: 5px 10px;   
    overflow: hidden;
    height: 45px;
    margin: 5px 0;
    font-size: 14px;
}

.profile-messages-block-title{
	font-size: 16px;
	height: auto;
	max-height: 45px;
}

#profile-orders-block {
    padding: 10px 0;
}

#profile-orders-block .table{
	margin-bottom: 0;
}

#profile-orders-block .table img {
    height: 30px;
    display: block;
    margin: 0 auto;
}

#profile-orders-block .table td
#profile-orders-block .table td, a{
	color: #6f7173
}

#profile-orders-block .table td,
#profile-orders-block .table th{
    vertical-align: middle;
    font-size: 14px;
}


/*-------------------
	Contact Page 
---------------------*/

.contact-page-form textarea{
	max-width: 75%;
	min-width: 75%;
	height: 200px;
	color: white;
}
.contact-page-form input{
	color: white;
}

.contact-page-form form{
	border: 1px solid rgba(255,255,255,0.7);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.contact-page-form .register-btn {
    margin: 10px auto 0;
}




/*-------------------
	Responsive 
---------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){
	#landing-page-container section:first-child{
		padding-top: 120px;
	}

	#landing-page-container section#register-form-header{
	    padding-top: 30px;
	}

	#landing-date-form input{
		width: 80px;
		margin-right: 40px;
	}
	
	#main-footer{
		padding: 75px 90px 40px; 
	}
	.footer-nav{
		display: inline;
		margin: 0;
	}
	.footer-social-links{
		margin-top: 0;
	}
	.footer-copyright{
	    margin: 80px 0 0 0;
	}
	.footer-logo{
	    margin: 0 0 50px 0;
	}
	.footer-card-icon{
	    margin: 0 0 50px 0;
	}

	/* header */
	#main-header .navbar-collapse {
	  text-align: center;
	}
	#main-header .navbar-nav {
	    display: inline-block;
	}
	#main-header .navbar-left{
		float: none !important;
	}
	#main-header .navbar-inverse{
		background: #000;
		padding: 0;
	}
	#main-header .navbar-nav li a{
		color: #fff;
		text-transform: uppercase;
	    padding: 30px 10px 24px;
	}
	#main-header .navbar-nav li a:hover,
	#main-header .navbar-nav li.active a{
		color: rgba(255,255,255,0.7);		
	}
	.header-logo{
	    height: 80px;
	    width: 80px;
	}
	
	#main-header .dropdown-menu {
	    background: #000;
	    margin-top: 10px;
	    padding-top: 10px;
	    border-radius: 4px;
	}
	#main-header .dropdown-menu li{
		text-align: right;
	}
	#main-header .dropdown-menu li a{
		padding: 10px 25px !important;
	}
	#main-header .dropdown-menu li.user-points{
		padding: 5px 25px !important;
	}
	#main-header .dropdown-menu li a:hover,
	#main-header .dropdown-menu li a.active{
		background: #000;
		color: rgba(255,255,255,0.7);
	}

	.nav-user-name,
	.nav-user-surname{
		display: block;
	}

	#main-header .dropdown-toggle{
		padding: 0 !important;
	}
	.nav-user-name-wrapper {
	    display: inline-block;
	    padding: 20px 0;
	    text-align: right;
	    text-transform: capitalize;
	}

	.cart-item-count {
	    position: absolute;
	    background: red;
	    width: 18px;
	    height: 18px;
	    top: -9px;
	    right: -12px;
	    left: initial;
	    display: block;
	    line-height: 1.2;
	    border-radius: 50%;
	    font-size: 11px;
	}
	.cart-icon{
		font-size: 22px;
	}
	.carousel-image{
		height: 480px;
	}

	.about-page-container{
		background-position: center 100px;
    	background-size: 100% auto;
	}

	.cart-table-subtotal{
		text-align: right;
	}
	.checkout-btn,
	.continue-shopping-link{
		display: inline-block;
	}
	.cart-table-mobile-label{
		display: none;
	}
	.cart-product-image{
		height: 70px;
	}
	.cart-table-title{
	    padding: 10px 0 15px;
	}

	.cart-table-quantity {
	    font-size: 18px;
	    padding-top: 15px;
	}
	.cart-table-quantity-row button {
	    font-size: 18px;
	    margin-top: 15px;
	    background:none;
	}
	.cart-table-price-row,
	.cart-table-total-row{
		padding-top: 25px;
		font-size: 18px;
		text-align: center;
	}

	.similar-item-block-row > div{
		padding-right: 0;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){
	#main-header .navbar-inverse{
		padding: 0 10px;
	}
	.home-page-drink-block{
		height: 350px;
	}
	.product-description-block-quantity-label{
		margin-top: -35px;
	}
	
	.profile-info-col,
	.profile-messages-col{
		width: 30%;
	}
	.profile-orders-col{
		width: 40%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
	#main-header .navbar-inverse{
		padding: 0 60px;
	}
	#main-header .navbar-nav li a{
		padding-left: 15px;
		padding-right: 15px;
	}
	.home-page-drink-block{
		height: 400px;
	}
}
